---
const baseHref = Astro.props.baseHref ?? "";
---
<header>
  <div class="container header-container">
    <div class="logo"><a href="/">Kodai Utsunomiya</a></div>
    <nav>
      <ul class="nav-list">
        <li><a href={`${baseHref}#about`}>Interests</a></li>
        <li><a href={`${baseHref}#research`}>Research</a></li>
        <li><a href={`${baseHref}#experience`}>Experience</a></li>
        <li><a href={`${baseHref}#skills`}>Skills</a></li>
        <li><a href={`${baseHref}#recognition`}>Recognition</a></li>
        <li><a href={`${baseHref}#tools`}>Notes</a></li>
        <li>
          <button id="theme-toggle" aria-label="Toggle Dark Mode">
            <i class="fas fa-moon"></i>
          </button>
        </li>
      </ul>
    </nav>
  </div>
</header>
